{% extends 'base.html' %}
{% block content %}

<h1>
  {% if language_code == 'bsl' %}Bahraini Sign Language{% elif language_code == 'asl' %}American Sign Language{% endif %} Lessons
</h1>

<ul>
  {% for lesson in lessons %}
    <li>
      <a href="{% url 'lesson_detail' language_code lesson.pk %}">Lesson {{ forloop.counter }}</a>
      <!-- Optionally: show lesson type or label here -->
    </li>
  {% empty %}
    <li>No lessons found for this language.</li>
  {% endfor %}
</ul>

{% endblock %}
