{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>My Progress Garden</h2>
<div style="position: relative; width: 400px; height: 300px; background: #cce5cc; border-radius: 20px;">
    <img src="{% static 'images/garden/tree.png' %}" style="position: absolute; left: 150px; bottom: 0; width: 100px;">
    {% for flower in flower_imgs %}
        <img src="{% static 'images/garden/flower1.jpg' %}" style="position: absolute; left: {{ flower.left }}px; bottom: 10px; width: 40px;">
    {% endfor %}
    {% for fruit in fruit_imgs %}
        <img src="{% static 'images/garden/fruit1.jpg' %}" style="position: absolute; left: {{ fruit.left }}px; bottom: 80px; width: 30px;">
    {% endfor %}
</div>
<p>You have grown {{ profile.flowers }} flowers and {{ profile.fruits }} fruits!</p>
{% endblock %}
