{% extends 'base.html' %} {% load static %} {% block content %}
<h2>My Progress Garden</h2>
<div class="garden-container">
  <img src="{% static 'images/garden/tree.png' %}" class="garden-tree" />

  <div class="garden-row garden-flowers" style="bottom: 0">
    {% for flower in flower_imgs %}
    <img
      src="{% static 'images/garden/' %}{% cycle 'flower1.png' 'flower2.png' %}"
      class="garden-flower"
    />
    {% endfor %}
  </div>

  <div class="garden-row garden-fruits" style="bottom: 50px">
    {% for fruit in fruit_imgs %}
    <img
      src="{% static 'images/garden/' %}{% cycle 'fruit1.png' 'fruit2.png' 'fruit3.png' %}"
      class="garden-fruit"
    />
    {% endfor %}
  </div>
</div>
<p style="text-align: center">
  You have grown {{ profile.flowers }} flowers and {{ profile.fruits }} fruits!
</p>

{% endblock %}
