{% extends 'base.html' %}
{% block content %}


<h1>{{ event.title }}</h1>
<p>Description :{{ event.description }}</p>
<p> Date & Time : {{ event.date }}</p>
<p>Location : {{ event.location }}</p>
<p>is_virtual : {% if event.is_virtual %}Online{% else %}In-person{% endif %}</p>
{% if event.link %}
  <p>Link : <a href="{{ event.link }}">Event Link</a></p>
{% endif %}
{% if event %}
  <p><strong>Created by:</strong> {{ event.created_by.username }}</p>
{% endif %}

{% if request.user == event.created_by %}
  <a href="{% url 'EventEdit' event.pk %}">Edit</a> |
  <a href="{% url 'EventDelete' event.pk %}">Delete</a> |
{% endif %}

<a href="{% url 'calendar' %}">Back</a>

{% endblock %}
