{% extends 'base.html' %} {% load static %} {% block content %}

<div id="landing">
  <section class="hero">
    <div class="hero-image">
      <h1>Welcome to Hear Me 🌟</h1>
      <p>Learn, practice, and connect with the community 🤟😊</p>
      <h2>The fun, fast and easy way to learn Sign Language 🚀⚡</h2>
      <p>
        Our bite-sized, interactive lessons will help you develop the skills you
        need for real-life communication 🎉💬
      </p>
      <h3>Remember what you've learnt 📝✔️</h3>
      <p>
        Challenge yourself to recall your learnings for the long term using our
        games 🎮🕹️
      </p>
      <h3>Sign with confidence 👐</h3>
      <p>
        Perfect your execution—our sign to text feature has you covered 📚🎓
      </p>
    </div>
  </section>
</div>

{% endblock %}
